<mat-toolbar>
    <mat-toolbar-row   fxLayout="row" fxLayoutAlign="space-between" class="nav">
        <div >


         <span ><button mat-button><h1>slack</h1></button></span>
          
          <span  fxShow.lt-md="false" fxShow.gt-md="true">
           <button mat-button>Why slack?</button>
           <button mat-button>Solutions</button>
           <button mat-button>Resources</button>
           <button mat-button>Enterprices</button>
           <button mat-button>Pricing</button>
           </span>
        </div>
   
      <div style="margin-right: 60px;">
        <span fxShow.lt-lg="false" fxShow.gt-lg="true">
                <button mat-button>Contact sales</button></span>
        <span fxShow.lt-md="false" fxShow.gt-md="true" >
            
              <button  mat-button>Sign in</button>
             <button mat-flat-button color="primary">TEY FOR FREE</button>
        </span>
         <div fxShow.lt-md="true" fxShow.gt-md="false" fxShow="false">
            <button mat-button >
               <mat-icon >menu</mat-icon>
            </button>
        </div>
     
    </div>
        
    </mat-toolbar-row>
</mat-toolbar>