

<app-header [deviceXs]="deviceXs"></app-header>
<div fxlatout="column"  fxLayoutGap="80px" class="content" >
 <div  fxLayout="row wrap" fxLayoutGap="80px" fxLayoutAlign="space-between"  style="  margin-left:50px;
 margin-right:30px;" >
  <div class="heading" >
  <h1>Welcome to your new HQ</h1>
  <div class="txt" >
    Teamwork can be hard, messy, complicated… and still the best way to work. That’s why we made Slack – a place where people get work done, together. 
  </div>
  <div class="button1" >
    <span fxShow.lt-md="false" fxShow.gt-md="true" > <button style="height: 60px; width: 200px;"mat-flat-button color="primary">TRY FOR FREE</button></span>
    <span fxShow.lt-md="true" fxShow.gt-md="false" fxShow="false" > <button style="height: 60px;width: 400px;"mat-flat-button color="primary">TRY FOR FREE</button></span>
  </div>
  </div>
  <div class="image" >
   <img src="../assets/photo_2020-10-29_11-15-08.jpg" alt="">
  </div>
 </div>
 <div  fxLayout="row wrap-reverse " fxLayoutGap="50px" fxLayoutAlign="space-between" class="div2" >
  
  <div class="image2" >
   <img style="width: 600px;" src="../assets/photo_2020-11-01_13-32-20.jpg" alt="">
  </div>
  <div  style=" padding-left: 30px;padding-top: 100px;padding-right: 50px;padding-left: px;margin-left: 100px;height:40% ;width: 40%;">
    <h1>A better way to communicate</h1>
    <div class="txt2">
      Unlike email, conversations in Slack are easy to follow. And they’re more than conversations – you can make calls, share files and even connect with other apps.
    </div>
    <div class="button2">
      <span fxShow.lt-md="false" fxShow.gt-md="true" > <button style="height: 60px; max-width:500px;margin=auto;" mat-stroked-button color="primary">SEE ALL FEATURES</button></span>
      <span fxShow.lt-md="true" fxShow.gt-md="false" fxShow="false" > <button style="height: 60px;width: 400px;" mat-stroked-button color="primary">SEE ALL FEATURES</button></span>
    </div>
    </div>
 </div>
 <div style="padding-top: 15px;margin-left: 40px;margin-right: 40px;">
  <h1>Over 750,000 companies use Slack to get work done</h1>
 </div>


 
 

</div>
<router-outlet></router-outlet>